<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>{% block title %}{{title}}{% endblock %}</title>
    <meta name="keywords" content={% block keywords %}{{keywords}}{% endblock %}>
    <meta name="description" content={% block description %}{{description}}{% endblock %}>
	
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="../static/css/zerogrid.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
    <link rel="stylesheet" href="../static/css/responsiveslides.css" />
    {% if request.path == '/vintage/' or request.path == '/reunion2010/' or request.path == '/reunion2012/'
    or request.path == '/tulsa2013/' or request.path == '/reunion2014/' or request.path == '/springdale2015/' %}
    <link rel="stylesheet" href="../static/css/lightbox-0.5.min.css" />
    {% endif %}
		
    <!--[if lt IE 8]>
    <div style=' clear: both; text-align:center; position: relative;'>
        <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
            <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
    </div>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="../static/js/html5.js"></script>
    <script src="../static/js/css3-mediaqueries.js"></script>
    <![endif]-->
	
    <link href='../static/images/favicon.ico' rel='icon' type='image/x-icon'/>
	
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.4.min.js"></script>
    <script src="../static/js/responsiveslides.js"></script>
    {% if request.path == '/vintage/' or request.path == '/reunion2010/' or request.path == '/reunion2012/'
    or request.path == '/tulsa2013/' or request.path == '/reunion2014/' or request.path == '/springdale2015/' %}
        <script src="../static/js/jquery.lightbox-0.5.min.js"></script>
        <script>
	$(function() {
		$('#gallery a').lightBox({fixedNavigation:true});
	});
	</script>
    {% endif %}

    <script>
    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            pager: false,
            nav: true,
            speed: 800,
            maxwidth: 960,
            namespace: "centered-btns"
        });
    });
  </script>
    
</head>
<body>
<!--Header-->
<header> 
    <div class="zerogrid">
        <div class="row">
            <div class="col05">
                <div id="logo">
                    {% if request.path == '/home/' or request.path == '/' %}
                      <a href ="#"><img src="../static/images/logo.png" alt="logo"/></a>
                    {% else %}
                      <a href="{{ url_for('home') }}"><img src="../static/images/logo.png" alt="logo"/></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>

<!--Navigation-->

<nav>
	<ul>
  		<li {% if request.path == '/home/' or request.path == '/' %}class="active">
              <a href="#">Home</a>
            {% else %}>
              <a href="{{ url_for('home') }}">Home</a>
            {% endif %}
        </li>
		<li {% if request.path == '/recollections/' %}class="active">
              <a href="#">Recollections</a>
            {% else %}>
              <a href="{{ url_for('recollections') }}">Recollections</a>
            {% endif %}
        </li>
        <li {% if request.path == '/galleries/' %}class="active">
              <a href="#">Galleries</a>
            {% else %}>
              <a href="{{ url_for('galleries') }}">Galleries</a>
            {% endif %}  
        </li>
        <li {% if request.path == '/lost_and_found/' %}class="active"}>
              <a href="#">Lost And Found</a>
            {% else %}>
              <a href="{{ url_for('lost_and_found') }}">Lost And Found</a>
            {% endif %}
        </li>
		<li {% if request.path == '/contact/' %}class="active">
              <a href="#">Contact</a>
            {% else %}>
              <a href="{{ url_for('contact') }}">Contact</a>
            {% endif %}
        </li>
	</ul>
</nav>

<section class="featured zerogrid">
    <div class="row">
	    <div class="col16">
		    <div class="rslides_container">
			    <ul class="rslides" id="slider">
				    <li><img src="../static/images/1.jpg" alt="NSU Centennial Plaza" height="292" width="640"/></li>
					<li><img src="../static/images/2.jpg" alt="Baptist Student Center" height="292" width="640"/></li>
					<li><img src="../static/images/3.jpg" alt="sidewalk view" height="292" width="640"/></li>
					<li><img src="../static/images/4.jpg" alt="more Centennial Plaza" height="292" width="640"/></li>
                    <li><img src="../static/images/5.jpg" alt="sidewalk through foliage" height="292" width="640"/></li>
				</ul>
			</div>
		</div>
	</div>
</section>
			
<!--Content-->
<section id="content">
    <div class="zerogrid">
	    <div class="row block offbottom">
		    <div class="main-content col11">
                {% block body %}{% endblock %}
			</div>
			    <div class="sidebar col05">
				    <section class="block1">
					    <div class="heading">Galleries</div>
					        <div class="content">
					            <ul class="list">
						            <li><a href="{{ url_for ('vintage') }}">Vintage</a></li>
		                            <li><a href="{{ url_for ('reunion2010') }}">Reunion 2010</a></li>
						            <li><a href="{{ url_for ('reunion2012') }}">Reunion 2012</a></li>
						            <li><a href="{{ url_for ('tulsa2013') }}">Tulsa 2013</a></li>
						            <li><a href="{{ url_for ('reunion2014') }}">Reunion 2014</a></li>
						            <li><a href="{{ url_for ('springdale2015') }}">Springdale 2015</a></li>
						        </ul>
					        </div>
				    </section>
                    <section class="block1">
					    <div class="heading">Links List</div>
					        <div class="content">
					            <ul class="list">
					                <li><a href="https://www.facebook.com/groups/61490360780/" target="_blank">NSU BSU On Facebook</a></li>
						            <li><a href="http://www.nsubcm.com/" target="_blank">NSU Baptist Collegiate Ministries</a></li>
						            <li><a href="https://www.facebook.com/nsubcm?fref=ts" target="_blank">NSU BCM On Facebook</a></li>
						            <li><a href="https://www.nsuok.edu/" target="_blank">Northeastern State University</a></li>
						            <li><a href="http://www.bgco.org/" >Oklahoma Baptist General Convention</a></li>						
					            </ul>
					        </div>
				   </section>
                   <section class="block1">
					    <div class="heading">About Me</div>
					        <div class="content">
						        I'm Matt Manos, a 1992 NSU grad and frequent fixture of the Baptist Student Union. I put this site together as memento of times past and solid friendships that continue to this day.
					        </div>
				    </section>
		    </div>
	    </div>
    </div>
</section>
<!--Footer-->
<footer>
    <div class="zerogrid">
	    <div class="row block2">   
			<section class="col-1-3">
			    <div class="heading">Menu</div>
				<div class="content">
				    <ul>
                        <li>
                            {% if request.path == '/home/' or request.path == '/' %}
                              <a href="#">Home</a>
                            {% else %}
                              <a href="{{ url_for('home') }}">Home</a>
                            {% endif %}
                        </li>
		                <li>
                            {% if request.path == '/recollections/' %}
                              <a href="#">Recollections</a>
                            {% else %}
                              <a href="{{ url_for('recollections') }}">Recollections</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if request.path == '/galleries/' %}
                              <a href="#">Galleries</a>
                            {% else %}
                              <a href="{{ url_for('galleries') }}">Galleries</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if request.path == '/lost_and_found/' %}
                              <a href="#">Lost And Found</a>
                            {% else %}
                              <a href="{{ url_for('lost_and_found') }}">Lost And Found</a>
                            {% endif %}
                        </li>
                        <li>
                            {% if request.path =='/contact/' %}
                              <a href="#">Contact</a>
                            {% else %}
                              <a href="{{ url_for('contact') }}">Contact</a>
                            {% endif %}
                        </li>
					</ul>
				</div>
			</section>
            <section class="col-1-3">
			    <div class="heading">Disclaimer</div>
				<div class="content">
					Matt Manos has no formal or official affiliation with Northeastern State University, the Baptist General Convention of Oklahoma, or Baptist Collegiate Ministries (formerly known as the Baptist Student Union).
				</div>
			</section>
            <section class="col-1-3">
			    <div class="heading">Galleries</div>
				<div class="content">
				    <table>
					    <tr>
						    <td><a href="{{ url_for ('vintage') }}"><img src="../static/images/layoutthumbs/vintage_mini_thumb.jpg" title="vintage pix" alt="vintage"/></a></td>
							<td><a href="{{ url_for ('reunion2010') }}"><img src="../static/images/layoutthumbs/2010_mini_thumb.jpg" title="2010 reunion" alt="2010"/></a></td>
							<td><a href="{{ url_for ('reunion2012') }}"><img src="../static/images/layoutthumbs/2012_mini_thumb.jpg" title="2012 reunion" alt="2012"/></a></td>
						</tr>
						<tr>
							<td><a href="{{ url_for ('tulsa2013') }}"><img src="../static/images/layoutthumbs/2013_mini_thumb.jpg" title="tulsa 2013" alt="2013"/></a></td>
							<td><a href="{{ url_for ('reunion2014') }}"><img src="../static/images/layoutthumbs/2014_mini_thumb.jpg" title="2014 reunion" alt="2014"/></a></td>
							<td><a href="{{ url_for ('springdale2015') }}"><img src="../static/images/layoutthumbs/2015_mini_thumb.jpg" title="springdale 2015" alt="2015"/></a></td>
						</tr>
					</table>
				</div>
			</section>
		</div>
	</div>
</footer>

<div id="copyright">
	<p>Copyright © 2015 - bsureunion.com</p>
	<p><a href="http://www.zerotheme.com/432/free-responsive-html5-css3-website-templates.html" target="_blank">Free Responsive Html5 Templates</a> by <a href="http://www.zerotheme.com" target="_blank">Zerotheme.com</a></p>
</div>

</body>
</html>