{% extends "layout.html" %}
{% block title %}Lost And Found{% endblock %}
{% block keywords %}"Baptist Student Union members, where are they now"{% endblock %}
{% block description %}"A short list of students from the Tahlequah Baptist Student Union that we can't track down"{% endblock %}
{% block body %}
    <h2 class="heading">LOST AND FOUND</h2>
	    <p>If you have been wondering what in the world happened to your old BSU buds, there's a really good chance you can find them on Facebook. However, there are still several people that appear to be missing in action. If you know where any of these folks are, please drop me a line at the <a href="{{ url_for('contact') }}">Contact</a> page.</p>
	    <ul class="list">
	        <li>Robert Edmondson</li>
	        <li>Brad Vaughan</li>
	        <li>Kathy Something</li>
	        <li>Allen Cox</li>
	        <li>Jeff Murphy</li>
	        <li>Chris and Tammy Sizemore</li>
	        <li>Julie Hayes</li>
	        <li>Kevin Something (Julie&#39;s bud)</li>
	        <li>Beck Trammel</li>
	        <li>Russ Hefley</li>
	        <li>Jeff Heiney</li>
	        <li>Mike Eash</li>
	        <li>Daralynn Bond</li>
	        <li>Rick Maples</li>
	        <li>Amy Mainus</li>
	        <li>Deborah Soap</li>
	    </ul>
{% endblock %}
