{% extends "layout.html" %}
{% block title %}Recollections{% endblock %}
{% block keywords %}"Tahlequah Baptist Student Union memories"{% endblock %}
{% block description %}"Some favorite memories from way back when at the NSU BSU in Tahlequah"{% endblock %}
{% block body %}
   	<h2 class="heading">A FEW FAVORITE MEMORIES</h2>
	<ul class="list">
		<li>Box supper auctions. - <strong>Brian B.</strong></li>
		<li>Full contact hide and seek. I remember Chartier effectively body slamming P.J. as she dove for the safety of the console TV. We were no respecters of gender. - <strong>Matt</strong></li>
		<li>Midnight hiking at Sparrowhawk!! No flashlights! It is probably a good thing that we didn&#39;t see how close we actually came to falling off the bluff!! - <strong>DeAnna</strong></li>
		<li>I agree with Matt. Loved the hide and seek. I also loved the campus wide capture the flag time. Great times. - <strong>Neal</strong></li>
		<li>I still wonder how I got my fat behind into some of the hiding places I did. LOL - <strong>Neal</strong></li>
		<li>I liked the date auctions. Jana Cole took me to the Boars Head feast one year. - <strong>James R.</strong></li>
		<li>Pretending to throw up a can of "Cream of Mushroom" soup by gagging loudly in the cafeteria with Jeff Chartier, Bret Andrews, Matt Manos, and, I think, Robin. Brett Andrews smashing his head on the outside wall with half a watermelon on his head, and burning books in the fireplace at the end of the sliester with the books the bookstore wouldn&#39;t buy back . . . Those were some fun times! - <strong>Jana</strong></li>
		<li>Oh yeah! Bubbles in the school fountain and spades tournaments! And well, parties at mine and Pam&#39;s house! - <strong>Jana</strong></li>
		<li>I never feel like there is enough time to see things when I come back to visit Tahlequah. I am climbing Sparrowhawk Mountain when I turn 40, taking daughter with me, too. - <strong>James R.</strong></li>
		<li>Hmm, oh so many, playing spades, hiding people in the old sofa at the BSU during those hide and seek games. People trying to throw me in the fountain . . . &#39;til I picked up that hammer! Doing all those fifth quarters at different churches. Brian asking me to marry him . . . over and over and over again. I loved it when we also did that track meet for the little kids, also. Just hanging out with all you guys, I wouldn&#39;t trade it! - <strong>Janelle</strong></li>
		<li>We tried swimming at Tenkiller after one of those track meets. The BSU bought our breakfast at Bubba&#39;s before working the track meets. Janelle saved my life with aloe vera after working a BSU car wash. - <strong>James R.</strong></li>
		<li>James, I don&#39;t even remember giving you the aloe vera but I&#39;m glad it helped. - <strong>Janelle</strong></li>
		<li>There were a lot of things I didn&#39;t remember until I saw of those old pictures. - <strong>James R.</strong></li>
		<li>Jungle pong. - <strong>Jeff F.</strong></li>
		<li>Campus wide capture the flag! - <strong>Brian B.</strong></li>
		<li>First Baptist Coweta bringing lunch. - <strong>Craig</strong></li>
		<li>Mark and I during finals week around midnight one night trying to climb up on the Statue of Liberty at the Cherokee building downtown, and doing cartwheels across the street. - <strong>Erik</strong></li>
		<li>Chicago Mission Trip. Spring Break 1992 .. I think. - <strong>Terry</strong></li>
		<li>One of my favorite memories is putting bubble bath in the fountain, then fooling Neal into thinking we were in trouble with Dean Cambiano. Riggins was sweatin&#39; it in his outer office for a bit, there. Also, the mission trip to Raynosa, Mexico. Prison ministry, baby&#33; - <strong>Mark N.</strong></li>
		<li>Capture the flag and mission trip to Houston. - <strong>Neal</strong></li>
		<li>Hiking out at Goat&#39;s Bluff at night. - <strong>Terry</strong></li>
		<li>Hide and go seek in the BSU. P.J. diving from the stairs to the couch which was base. Charty and I going nil and blind nil to come back from behind in Spades and beating Neal Riggins and Mark Nickels or Tuney. Can&#39;t remember which one of those guys. Doing Fifth Quarters on Friday nights, Monday night worship that we started in &#39;89 and of course Pos-C&#33; - <strong>Mark W.</strong></li>
		<li>All of the puppet shows, Fifth Quarters, etc. - <strong>Tuney</strong></li>
		<li>Bubba&#39;s&#33; - <strong>Mark N.</strong></li>
		<li>I liked playing cards at the BSU, never could beat Rusty and Pam - <strong>James R.</strong></li>
		<li>&#34;P-O-S-C we came to entertain and proclaim... faith in the name of the lord&#34; - <strong>Jerome</strong></li>
		<li>Watching new people flop down on the horrible hard couch&#33; - <strong>Janelle</strong></li>
		<li>My very first night coming to the BSU after Dusty and Tracy invited me daily lol. It was movie night and an Arnold Swartzenager &#40;sp&#41; movie was on and it was rated R. Someone shouts &#34;leave it to Tammy Dull to pick out the movie&#33;&#34; LOL - <strong>Robin</strong></li>
	</ul>
{% endblock %}
