{% extends "layout.html" %}
{% block title %}Reunion 2012{% endblock %}
{% block body %}
    <h2>NSU 2012</h2>
	
	<div id="gallery">
	<p>
	<a href="../static/images/2012full/IMG_5069.jpg" title="Brian and Neal">
		<img src="../static/images/2012thumbs/IMG_5069.jpg" alt="Brian and Neal" />
	</a>
	<a href="../static/images/2012full/IMG_5072.jpg" title="Terry, Matt, and Brian">
		<img src="../static/images/2012thumbs/IMG_5072.jpg" alt="Terry, Matt, and Brian" />
	</a>
	<a href="../static/images/2012full/IMG_5077.jpg" title="DeAnna and Robin discuss the meaning of it all">
		<img src="../static/images/2012thumbs/IMG_5077.jpg" alt="DeAnna and Robin discuss the meaning of it all" />
	</a>
	<a href="../static/images/2012full/IMG_5081.jpg" title="Michael, Dawn, Morgan, DeAnna, Craig, and Robin">
		<img src="../static/images/2012thumbs/IMG_5081.jpg" alt="Michael, Dawn, Morgan, DeAnna, Craign, and Robin" />
	</a>
	<a href="../static/images/2012full/IMG_5082.jpg" title="DeAnna, Brett, Robin, and Janelle">
		<img src="../static/images/2012thumbs/IMG_5082.jpg" alt="DeAnna, Brett, Robin, and Janelle" />
	</a>
	<a href="../static/images/2012full/IMG_5084.jpg" title="Gathered 'round the table">
		<img src="../static/images/2012thumbs/IMG_5084.jpg" alt="Gathered 'round the table" />
	</a>
	<a href="../static/images/2012full/IMG_5087a.jpg" title="The usual suspects">
		<img src="../static/images/2012thumbs/IMG_5087a.jpg" alt="The usual suspects" />
	</a>
	<a href="../static/images/2012full/IMG_5090.jpg" title="Kelly explains it to Michael and DeAnna">
		<img src="../static/images/2012thumbs/IMG_5090.jpg" alt="Kelly explains it to Michael and DeAnna" />
	</a>
	<a href="../static/images/2012full/IMG_5093.jpg" title="Up against the wall">
		<img src="../static/images/2012thumbs/IMG_5093.jpg" alt="Up against the wall" />
	</a>
	<a href="../static/images/2012full/IMG_5094a.jpg" title="Stan and Robin">
		<img src="../static/images/2012thumbs/IMG_5094a.jpg" alt="Stan and Robin" />
	</a>
	<a href="../static/images/2012full/IMG_5095.jpg" title="James, Stan, Robin, and Janelle">
		<img src="../static/images/2012thumbs/IMG_5095.jpg" alt="James, Stan, Robin, and Janelle" />
	</a>
	<a href="../static/images/2012full/IMG_5096.jpg" title="Maile and James">
		<img src="../static/images/2012thumbs/IMG_5096.jpg" alt="Maile and James" />
	</a>
	<a href="../static/images/2012full/IMG_5097.jpg" title="Up to no good">
		<img src="../static/images/2012thumbs/IMG_5097.jpg" alt="Up to no good" />
	</a>
	<a href="../static/images/2012full/IMG_5098.jpg" title="Tuney, Craig, Neal, and Brett">
		<img src="../static/images/2012thumbs/IMG_5098.jpg" alt="Tuney, Craig, Neal, and Brett" />
	</a>
	<a href="../static/images/2012full/IMG_5099.jpg" title="Let me tell you 'bout this one">
		<img src="../static/images/2012thumbs/IMG_5099.jpg" alt="Let me tell you 'bout this one" />
	</a>
	<a href="../static/images/2012full/IMG_5101.jpg" title="Matt and Dawn">
		<img src="../static/images/2012thumbs/IMG_5101.jpg" alt="Matt and Dawn" />
	</a>
	<a href="../static/images/2012full/IMG_5102.jpg" title="Nathan and Calvin">
		<img src="../static/images/2012thumbs/IMG_5102.jpg" alt="Nathan and Calvin" />
	</a>
	<a href="../static/images/2012full/IMG_5106.jpg" title="Neal and Craig">
		<img src="../static/images/2012thumbs/IMG_5106.jpg" alt="Neal and Craig" />
	</a>
	<a href="../static/images/2012full/IMG_5107.jpg" title="Say it ain't so">
		<img src="../static/images/2012thumbs/IMG_5107.jpg" alt="Say it ain't so" />
	</a>
	<a href="../static/images/2012full/IMG_5109.jpg" title="Pam and a partially hidden offspring">
		<img src="../static/images/2012thumbs/IMG_5109.jpg" alt="Pam and a partially hidden offspring" />
	</a>
	<a href="../static/images/2012full/IMG_5110a.jpg" title="Matt, Maile, and James">
		<img src="../static/images/2012thumbs/IMG_5110a.jpg" alt="Matt, Maile, and James" />
	</a>
	<a href="../static/images/2012full/IMG_5111a.jpg" title="Matt and Neal">
		<img src="../static/images/2012thumbs/IMG_5111a.jpg" alt="Matt and Neal" />
	</a>
	<a href="../static/images/2012full/IMG_5113.jpg" title="Kelly, armed and dangerous">
		<img src="../static/images/2012thumbs/IMG_5113.jpg" alt="Kelly, armed and dangerous" />
	</a>
	<a href="../static/images/2012full/IMG_5115.jpg" title="Chewing the fat">
		<img src="../static/images/2012thumbs/IMG_5115.jpg" alt="Chewing the fat" />
	</a>
	<a href="../static/images/2012full/IMG_5116a.jpg" title="Stan, Tuney, and Robin">
		<img src="../static/images/2012thumbs/IMG_5116a.jpg" alt="Stan, Tuney, and Robin" />
	</a>
	<a href="../static/images/2012full/IMG_5117a.jpg" title="Dawn and Monica">
		<img src="../static/images/2012thumbs/IMG_5117a.jpg" alt="Dawn and Monica" />
	</a>
	<a href="../static/images/2012full/IMG_5118.jpg" title="They sit in judgement">
		<img src="../static/images/2012thumbs/IMG_5118.jpg" alt="They sit in judgement" />
	</a>
	<a href="../static/images/2012full/IMG_5119.jpg" title="Brian ponders, Craig extrapolates">
		<img src="../static/images/2012thumbs/IMG_5119.jpg" alt="Brian ponders, Craig extrapolates" />
	</a>
	<a href="../static/images/2012full/IMG_5122.jpg" title="Tuney and Michael">
		<img src="../static/images/2012thumbs/IMG_5122.jpg" alt="Tuney and Michael" />
	</a>
	</p>
	</div>
{% endblock %}
