{% extends "layout.html" %}
{% block title %}Reunion 2010{% endblock %}
{% block keywords %}"2010 BSU Reunion"{% endblock %}
{% block description %}"The 2010 BSU Reunion was our first get together since 1992 or thereabouts"{% endblock %}
{% block body %}
    <h2 class="heading">REUNION 2010</h2>
    <div id="gallery">
	<p>
	<a href="../static/images/2010full/IMG_1761.jpg" title="Dana and Bruce">
		<img src="../static/images/2010thumbs/IMG_1761.jpg" alt="Dana and Bruce" />
	</a>
	<a href="../static/images/2010full/IMG_1762.jpg" title="Craig">
		<img src="../static/images/2010thumbs/IMG_1762.jpg" alt="Craig" />
	</a>
	<a href="../static/images/2010full/IMG_1764.jpg" title="Monica, daughter, and Tuney">
		<img src="../static/images/2010thumbs/IMG_1764.jpg" alt="Monica, daughter, and Tuney" />
	</a>
	<a href="../static/images/2010full/IMG_1765.jpg" title="Janelle, James, and Brian">
		<img src="../static/images/2010thumbs/IMG_1765.jpg" alt="Janelle, James, and Brian" />
	</a>
	<a href="../static/images/2010full/IMG_1766.jpg" title="Crew on the couch">
		<img src="../static/images/2010thumbs/IMG_1766.jpg" alt="Crew on the couch" />
	</a>
	<a href="../static/images/2010full/IMG_1767.jpg" title="Janelle, Brian, bored kid">
		<img src="../static/images/2010thumbs/IMG_1767.jpg" alt="Janelle, Brian, bored kid" />
	</a>
	<a href="../static/images/2010full/IMG_1768.jpg" title="Janelle, Brian, Craig">
		<img src="../static/images/2010thumbs/IMG_1768.jpg" alt="Janelle, Brian, Craig" />
	</a>
	<a href="../static/images/2010full/IMG_1770.jpg" title="Peacocks and Tuney">
		<img src="../static/images/2010thumbs/IMG_1770.jpg" alt="Peacocks and Tuney" />
	</a>
	<a href="../static/images/2010full/IMG_1771.jpg" title="Mark and Janelle">
		<img src="../static/images/2010thumbs/IMG_1771.jpg" alt="Mark and Janelle" />
	</a>
	<a href="../static/images/2010full/IMG_1775.jpg" title="Matt and Tuney">
		<img src="../static/images/2010thumbs/IMG_1775.jpg" alt="Matt and Tuney" />
	</a>
	<a href="../static/images/2010full/IMG_1776.jpg" title="Matt, James, Mark, Tuney, and Dana">
		<img src="../static/images/2010thumbs/IMG_1776.jpg" alt="Matt, James, Mark, Tuney, and Dana" />
	</a>
	<a href="../static/images/2010full/IMG_1778.jpg" title="partial crew">
		<img src="../static/images/2010thumbs/IMG_1778.jpg" alt="partial crew" />
	</a>
	<a href="../static/images/2010full/IMG_1782.jpg" title="kids">
		<img src="../static/images/2010thumbs/IMG_1782.jpg" alt="kids" />
	</a>
	<a href="../static/images/2010full/IMG_1785.jpg" title="Janelle and DeAnna">
		<img src="../static/images/2010thumbs/IMG_1785.jpg" alt="Janelle and DeAnna" />
	</a>
	<a href="../static/images/2010full/IMG_1786.jpg" title="Spicer and son">
		<img src="../static/images/2010thumbs/IMG_1786.jpg" alt="Spicer and son" />
	</a>
	<a href="../static/images/2010full/IMG_1787.jpg" title="Tuney, Sherri, DeAnna, Brian, and Janelle">
		<img src="../static/images/2010thumbs/IMG_1787.jpg" alt="Tuney, Sherri, DeAnna, Brian, and Janelle" />
	</a>
	<a href="../static/images/2010full/IMG_1788.jpg" title="Tuney, Sherri, DeAnna, Brian">
		<img src="../static/images/2010thumbs/IMG_1788.jpg" alt="Tuney, Sherri, DeAnna, Brian" />
	</a>
	<a href="../static/images/2010full/IMG_1789.jpg" title="Michael, Brett, and Neal">
		<img src="../static/images/2010thumbs/IMG_1789.jpg" alt="Michael, Brett, and Neal" />
	</a>
	<a href="../static/images/2010full/IMG_1790.jpg" title="Tammy, Michael, Brett, and Neal">
		<img src="../static/images/2010thumbs/IMG_1790.jpg" alt="Tammy, Michael, Brett, and Neal" />
	</a>
	<a href="../static/images/2010full/IMG_1791.jpg" title="Tammy">
		<img src="../static/images/2010thumbs/IMG_1791.jpg" alt="Tammy" />
	</a>
	<a href="../static/images/2010full/IMG_1793.jpg" title="Brett">
		<img src="../static/images/2010thumbs/IMG_1793.jpg" alt="Brett" />
	</a>
	<a href="../static/images/2010full/IMG_1794.jpg" title="Brett and Neal">
		<img src="../static/images/2010thumbs/IMG_1794.jpg" alt="Brett and Neal" />
	</a>
	<a href="../static/images/2010full/IMG_1795.jpg" title="Joy and Dawn">
		<img src="../static/images/2010thumbs/IMG_1795.jpg" alt="Joy and Dawn" />
	</a>
	<a href="../static/images/2010full/IMG_1796.jpg" title="Tracy and Brian">
		<img src="../static/images/2010thumbs/IMG_1796.jpg" alt="Tracy and Brian" />
	</a>
	<a href="../static/images/2010full/IMG_1797.jpg" title="Tuney">
		<img src="../static/images/2010thumbs/IMG_1797.jpg" alt="Tuney" />
	</a>
	<a href="../static/images/2010full/IMG_1799.jpg" title="Tracy, Brian, and Monica">
		<img src="../static/images/2010thumbs/IMG_1799.jpg" alt="Tracy, Brian, and Monica" />
	</a>
	<a href="../static/images/2010full/IMG_1801.jpg" title="Dawn and daugher">
		<img src="../static/images/2010thumbs/IMG_1801.jpg" alt="Dawn and daughter" />
	</a>
	<a href="../static/images/2010full/IMG_1802.jpg" title="Craig">
		<img src="../static/images/2010thumbs/IMG_1802.jpg" alt="Craig" />
	</a>
	<a href="../static/images/2010full/IMG_1803.jpg" title="Sandy and Charles">
		<img src="../static/images/2010thumbs/IMG_1803.jpg" alt="Sandy and Charles" />
	</a>
	<a href="../static/images/2010full/IMG_1804.jpg" title="Spicer family">
		<img src="../static/images/2010thumbs/IMG_1804.jpg" alt="Spicer family" />
	</a>
	<a href="../static/images/2010full/IMG_1805.jpg" title="DeAnna and Janelle">
		<img src="../static/images/2010thumbs/IMG_1805.jpg" alt="DeAnna and Janelle" />
	</a>
	<a href="../static/images/2010full/IMG_1806.jpg" title="Michael, Brett, Neal, and Tuney">
		<img src="../static/images/2010thumbs/IMG_1806.jpg" alt="Michael, Brett, Neal, and Tuney" />
	</a>
	<a href="../static/images/2010full/IMG_1808.jpg" title="end table shot">
		<img src="../static/images/2010thumbs/IMG_1808.jpg" alt="end table shot" />
	</a>
	<a href="../static/images/2010full/IMG_1809.jpg" title="Tuney and Michael">
		<img src="../static/images/2010thumbs/IMG_1809.jpg" alt="Tuney and Michael" />
	</a>
	<a href="../static/images/2010full/IMG_1810.jpg" title="Bobby, Dawn, Perry, James, and Brett">
		<img src="../static/images/2010thumbs/IMG_1810.jpg" alt="Bobby, Dawn, Perry, James, and Brett" />
	</a>
	<a href="../static/images/2010full/IMG_1811.jpg" title="James">
		<img src="../static/images/2010thumbs/IMG_1811.jpg" alt="James" />
	</a>
	<a href="../static/images/2010full/IMG_1813.jpg" title="Brian and Brett">
		<img src="../static/images/2010thumbs/IMG_1813.jpg" alt="Brian and Brett" />
	</a>
	<a href="../static/images/2010full/IMG_1814.jpg" title="Brian, Brett, and Neal">
		<img src="../static/images/2010thumbs/IMG_1814.jpg" alt="Brian, Brett, and Neal" />
	</a>
	<a href="../static/images/2010full/IMG_1815.jpg" title="Tracy, Janelle, and DeAnna">
		<img src="../static/images/2010thumbs/IMG_1815.jpg" alt="Tracy, Janelle, and DeAnna" />
	</a>
	<a href="../static/images/2010full/IMG_1816.jpg" title="Sherri pontificates">
		<img src="../static/images/2010thumbs/IMG_1816.jpg" alt="Sherri pontificates" />
	</a>
	<a href="../static/images/2010full/IMG_1817.jpg" title="Tammy, Tuney, Monica, Tracy, and Janelle">
		<img src="../static/images/2010thumbs/IMG_1817.jpg" alt="Tammy, Tuney, Monica, Tracy, and Janelle" />
	</a>
	<a href="../static/images/2010full/IMG_1818.jpg" title="Tammy and Tuney">
		<img src="../static/images/2010thumbs/IMG_1818.jpg" alt="Tammy and Tuney" />
	</a>
	<a href="../static/images/2010full/IMG_1819.jpg" title="Brian and Brett">
		<img src="../static/images/2010thumbs/IMG_1819.jpg" alt="Brian and Brett" />
	</a>
	<a href="../static/images/2010full/IMG_1820.jpg" title="Perry and Brian">
		<img src="../static/images/2010thumbs/IMG_1820.jpg" alt="Perry and Brian" />
	</a>
	<a href="../static/images/2010full/IMG_1821.jpg" title="Sherri and Perry">
		<img src="../static/images/2010thumbs/IMG_1821.jpg" alt="Sherri and Perry" />
	</a>
	<a href="../static/images/2010full/IMG_1822.jpg" title="DeAnna">
		<img src="../static/images/2010thumbs/IMG_1822.jpg" alt="DeAnna" />
	</a>
	<a href="../static/images/2010full/IMG_1824.jpg" title="more crew">
		<img src="../static/images/2010thumbs/IMG_1824.jpg" alt="more crew" />
	</a>
	</p>
    </div>
{% endblock %}
