{% extends "layout.html" %}
{% block title %}Reunion 2014{% endblock %}
{% block keywords %}"2014 BSU Reunion, Tahlequah, Baptist Collegiate Ministries, Northeastern State University"{% endblock %}
{% block description %}"The 2014 BSU Reunion returned to the Northeastern State University Baptist Collegiate Ministry building in Tahlequah"{% endblock %}
{% block body %}
    <h2>REUNION 2014</h2>
	
	<div id="gallery">
	<p>
	<a href="../static/images/2014full/223656.jpg" title="Tuney in profile">
		<img src="../static/images/2014thumbs/223656.jpg" alt="Tuney in profile" />
	</a>
	<a href="../static/images/2014full/223952.jpg" title="Brian, Janelle, and Monica with fuzzy stepchild">
		<img src="../static/images/2014thumbs/223952.jpg" alt="Brian, Janelle, and Monica with fuzzy stepchild" />
	</a>
	<a href="../static/images/2014full/1959382.jpg" title="Matt with no hair">
		<img src="../static/images/2014thumbs/1959382.jpg" alt="Matt with no hair" />
	</a>
	<a href="../static/images/2014full/10346391.jpg" title="Gathered 'round the table">
		<img src="../static/images/2014thumbs/10346391.jpg" alt="Gathered 'round the table" />
	</a>
	<a href="../static/images/2014full/10364122.jpg" title="The BSU parking lot was jam packed in our day">
		<img src="../static/images/2014thumbs/10364122.jpg" alt="The BSU parking lot was jam packed in our day" />
	</a>
	<a href="../static/images/2014full/10402685.jpg" title="The BSU has had a facelift in recent years">
		<img src="../static/images/2014thumbs/10402685.jpg" alt="The BSU has had a facelift in recent years" />
	</a>
        <a href="../static/images/2014full/10407467.jpg" title="One of our favorite places at any get together">
		<img src="../static/images/2014thumbs/10407467.jpg" alt="One of our favorite places at any get together" />
	</a>
        <a href="../static/images/2014full/10425137.jpg" title="Getting down to business">
		<img src="../static/images/2014thumbs/10425137.jpg" alt="Getting down to business" />
	</a>
        <a href="../static/images/2014full/10440721.jpg" title="Brian oversees the grill">
		<img src="../static/images/2014thumbs/10440721.jpg" alt="Brian oversees the grill" />
	</a>
        <a href="../static/images/2014full/10457603.jpg" title="Lunchtime confab">
		<img src="../static/images/2014thumbs/10457603.jpg" alt="Lunchtime confab" />
	</a>
        <a href="../static/images/2014full/10460710.jpg" title="And now to your right ...">
		<img src="../static/images/2014thumbs/10460710.jpg" alt="And now to your right" />
	</a>
	</p>
	</div>
{% endblock %}
