{% extends "layout.html" %}
{% block title %}Springdale 2015{% endblock %}
{% block keywords %}"2015 BSU Reunion, Springdale, Baptist Collegiate Ministries, Northeastern State University"{% endblock %}
{% block description %}"The 2015 BSU Reunion was an informal get together at Matt's place in Springdale, AR."{% endblock %}
{% block body %}
    <h2 class="heading">SPRINGDALE 2015</h2>
	<div id="gallery">
	<p>
	<a href="../static/images/2015full/100.jpg" title="DeAnna and Michael">
		<img src="../static/images/2015thumbs/100.jpg" alt="DeAnna and Michael" />
	</a>
	<a href="../static/images/2015full/101.jpg" title="Kelly and Tim">
		<img src="../static/images/2015thumbs/101.jpg" alt="Kelly and Tim" />
	</a>
	<a href="../static/images/2015full/102.jpg" title="Roundtable One">
		<img src="../static/images/2015thumbs/102.jpg" alt="Roundtable One" />
	</a>
	<a href="../static/images/2015full/103.jpg" title="Roundtable Two">
		<img src="../static/images/2015thumbs/103.jpg" alt="Roundtable Two" />
	</a>
	<a href="../static/images/2015full/104.jpg" title="They play">
		<img src="../static/images/2015thumbs/104.jpg" alt="They play" />
	</a>
	<a href="../static/images/2015full/105.jpg" title="They play again">
		<img src="../static/images/2015thumbs/105.jpg" alt="They play again" />
	</a>
	</p>
	</div>
{% endblock %}

