{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <p>Did you graduate from Northeastern State University in Tahlequah in the early or mid-nineties? Did you hang out at the Baptist Student Union? Are you old enough to remember Milli Vanilli's Grammy but young enough to have missed Woodstock?</p>
    <p>If you can answer yes to any two of those questions, please take a minute to check out this site. You can find news of upcoming reunions, photos old and new, and a list of people that we're still trying to track down, among other things. While you're looking around, please use the contact form to send me your favorite memories of the BSU so I can post them on the recollections page.</p>
    <p>Our college days have come and gone but they are far from forgotten. Please use this website and the NSU BSU Facebook <a href="https://www.facebook.com/groups/61490360780/">page</a> to reconnect with old friends. They are probably wondering what in the world happened to you.</p>
{% endblock %}
