{% extends "layout.html" %}
{% block title %}Tulsa 2013{% endblock %}
{% block keywords %}"2013 BSU Reunion, Spaghetti Warehouse"{% endblock %}
{% block description %}"The 2013 BSU Reunion was held at the Spaghetti Warehouse in Tulsa"{% endblock %}
{% block body %}
    <h2>TULSA 2013 - IN MEMORY OF JOHN BRAGG</h2>
	
	<div id="gallery">
	<p>
	<a href="../static/images/2013full/IMAG0233.jpg" title="Brian and Janelle">
		<img src="../static/images/2013thumbs/IMAG0233.jpg" alt="Brian and Janelle" />
	</a>
	<a href="../static/images/2013full/IMAG0234.jpg" title="Craig and Tracy">
		<img src="../static/images/2013thumbs/IMAG0234.jpg" alt="Craig and Tracy" />
	</a>
	<a href="../static/images/2013full/IMAG0237.jpg" title="Kelly and Beth">
		<img src="../static/images/2013thumbs/IMAG0237.jpg" alt="Kelly and Beth" />
	</a>
	<a href="../static/images/2013full/IMAG0239.jpg" title="Stephen and Brian">
		<img src="../static/images/2013thumbs/IMAG0239.jpg" alt="Stephen and Brian" />
	</a>
	<a href="../static/images/2013full/IMAG0247.jpg" title="The gang">
		<img src="../static/images/2013thumbs/IMAG0247.jpg" alt="The gang" />
	</a>
	<a href="../static/images/2013full/IMAG0238.jpg" title="The Casady clan">
		<img src="../static/images/2013thumbs/IMAG0238.jpg" alt="The Casady clan" />
	</a>
	</p>
	</div>
{% endblock %}
