{% extends "layout.html" %}
{% block title %}Vintage{% endblock %}
{% block keywords %}"old Baptist Student Union photos, old BSU pictures"{% endblock %}
{% block description %}"Vintage BSU photos from back in the day"{% endblock %}
{% block body %}
 <h2 class="heading">FROM BACK IN THE DAY</h2>
    <div id="gallery">
	<p>
	<a href="../static/images/vintagefull/001_1.jpg" title="Mark at the copier">
		<img src="../static/images/vintagethumbs/001_1.jpg" alt="Mark at the copier" />
	</a>
	<a href="../static/images/vintagefull/002_2.jpg" title="Neal, Mark, James, and Mark">
		<img src="../static/images/vintagethumbs/002_2.jpg" alt="Neal, Mark, James, and Mark" />
	</a>
	<a href="../static/images/vintagefull/003_3.jpg" title="Bruce does the hula">
		<img src="../static/images/vintagethumbs/003_3.jpg" alt="Bruce does the hula" />
	</a>
	<a href="../static/images/vintagefull/004_4.jpg" title="Tasha and Neal">
		<img src="../static/images/vintagethumbs/004_4.jpg" alt="Tasha and Neal" />
	</a>
	<a href="../static/images/vintagefull/005_5.JPG" title="Ashley hard at work">
		<img src="../static/images/vintagethumbs/005_5.jpg" alt="Ashley hard at work" />
	</a>
	<a href="../static/images/vintagefull/006_6.jpg" title="Matt">
		<img src="../static/images/vintagethumbs/006_6.jpg" alt="Matt" />
	</a>
	<a href="../static/images/vintagefull/007_7.jpg" title="Carmen and Terry">
		<img src="../static/images/vintagethumbs/007_7.jpg" alt="Carmen and Terry" />
	</a>
	<a href="../static/images/vintagefull/008_8.jpg" title="Mark and Carmen">
		<img src="../static/images/vintagethumbs/008_8.jpg" alt="Mark and Carmen" />
	</a>
	<a href="../static/images/vintagefull/009_9.jpg" title="Tammy">
		<img src="../static/images/vintagethumbs/009_9.jpg" alt="Tammy" />
	</a>
	<a href="../static/images/vintagefull/010_10.jpg" title="spring break missions">
		<img src="../static/images/vintagethumbs/010_10.jpg" alt="spring break missions" />
	</a>
	<a href="../static/images/vintagefull/011_11.jpg" title="jam">
		<img src="../static/images/vintagethumbs/011_11.jpg" alt="jam" />
	</a>
	<a href="../static/images/vintagefull/012_12.jpg" title="Stokely does the hula">
		<img src="../static/images/vintagethumbs/012_12.jpg" alt="Stokely does the hula" />
	</a>
	<a href="../static/images/vintagefull/013_13.jpg" title="card game">
		<img src="../static/images/vintagethumbs/013_13.jpg" alt="card game" />
	</a>
	<a href="../static/images/vintagefull/014_14.jpg" title="motely crue">
		<img src="../static/images/vintagethumbs/014_14.jpg" alt="motley crue" />
	</a>
	<a href="../static/images/vintagefull/015_15.jpg" title="welcome back P.J.">
		<img src="../static/images/vintagethumbs/015_15.jpg" alt="welcome back P.J." />
	</a>
	<a href="../static/images/vintagefull/016_16.jpg" title="Matt and Pam">
		<img src="../static/images/vintagethumbs/016_16.jpg" alt="Matt and Pam" />
	</a>
	<a href="../static/images/vintagefull/017_17.jpg" title="Kim">
		<img src="../static/images/vintagethumbs/017_17.jpg" alt="Kim" />
	</a>
	<a href="../static/images/vintagefull/018_18.jpg" title="Monday night">
		<img src="../static/images/vintagethumbs/018_18.jpg" alt="Monday night" />
	</a>
	<a href="../static/images/vintagefull/019_19.jpg" title="Jeff and James">
		<img src="../static/images/vintagethumbs/019_19.jpg" alt="Jeff and James" />
	</a>
	<a href="../static/images/vintagefull/020_20.jpg" title="Tuney">
		<img src="../static/images/vintagethumbs/020_20.jpg" alt="Tuney" />
	</a>
	<a href="../static/images/vintagefull/021_21.JPG" title="Craig">
		<img src="../static/images/vintagethumbs/021_21.jpg" alt="Craig" />
	</a>
	<a href="../static/images/vintagefull/022_22.jpg" title="Halloween">
		<img src="../static/images/vintagethumbs/022_22.jpg" alt="Halloween" />
	</a>
	<a href="../static/images/vintagefull/023_23.jpg" title="Brandon">
		<img src="../static/images/vintagethumbs/023_23.jpg" alt="Brandon" />
	</a>
	<a href="../static/images/vintagefull/024_24.jpg" title="more Spring Break missions">
		<img src="../static/images/vintagethumbs/024_24.jpg" alt="more Spring Break missions" />
	</a>
	<a href="../static/images/vintagefull/025_25.jpg" title="Jeff David and Amy">
		<img src="../static/images/vintagethumbs/025_25.jpg" alt="Jeff David and Amy" />
	</a>
	<a href="../static/images/vintagefull/026_26.jpg" title="Lord's Little People from the back">
		<img src="../static/images/vintagethumbs/026_26.jpg" alt="Lord's Little People from the back" />
	</a>
	<a href="../static/images/vintagefull/027_27.jpg" title="Lord's Little People">
		<img src="../static/images/vintagethumbs/027_27.jpg" alt="Lord's Little People" />
	</a>
	<a href="../static/images/vintagefull/028_28.jpg" title="someone and Kim">
		<img src="../static/images/vintagethumbs/028_28.jpg" alt="someone and Kim" />
	</a>
	<a href="../static/images/vintagefull/029_29.jpg" title="Mark on the couch">
		<img src="../static/images/vintagethumbs/029_29.jpg" alt="Mark on the couch" />
	</a>
	<a href="../static/images/vintagefull/1.jpg" title="Alan and Shawn">
		<img src="../static/images/vintagethumbs/1.jpg" alt="Alan and Shawn" />
	</a>
	<a href="../static/images/vintagefull/2.jpg" title="Tricia and Darylyn">
		<img src="../static/images/vintagethumbs/2.jpg" alt="Tricia and Darylyn" />
	</a>
	<a href="../static/images/vintagefull/3.jpg" title="Kelly and Alan">
		<img src="../static/images/vintagethumbs/3.jpg" alt="Kelly and Alan" />
	</a>
	<a href="../static/images/vintagefull/4.jpg" title="Mark, Kelly, DeAnna, and Robin">
		<img src="../static/images/vintagethumbs/4.jpg" alt="Mark, Kelly, DeAnna, and Robin" />
	</a>
	<a href="../static/images/vintagefull/5.jpg" title="Darylyn, Jeff, Shery, ??, Robin, Tuney, and Kelly">
		<img src="../static/images/vintagethumbs/5.jpg" alt="Darylyn, Jeff, Sherry, ??, Robin, Tuney, and Kelly" />
	</a>
	<a href="../static/images/vintagefull/6.jpg" title="Tuney and Tammy">
		<img src="../static/images/vintagethumbs/6.jpg" alt="Tuney and Tammy" />
	</a>
	<a href="../static/images/vintagefull/7.jpg" title="Jeff and Mark">
		<img src="../static/images/vintagethumbs/7.jpg" alt="Jeff and Mark" />
	</a>
	<a href="../static/images/vintagefull/8.jpg" title="Denelle and Tammy">
		<img src="../static/images/vintagethumbs/8.jpg" alt="Denelle and Tammy" />
	</a>
	<a href="../static/images/vintagefull/9.jpg" title="Tricia, Kevin, and Becky">
		<img src="../static/images/vintagethumbs/9.jpg" alt="Tricia, Kevin, and Becky" />
	</a>
	<a href="../static/images/vintagefull/10.jpg" title="Kathy and Tammy">
		<img src="../static/images/vintagethumbs/10.jpg" alt="Kathy and Tammy" />
	</a>
	<a href="../static/images/vintagefull/11.jpg" title="Tammy and Denelle">
		<img src="../static/images/vintagethumbs/11.jpg" alt="Tammy and Denelle" />
	</a>
	<a href="../static/images/vintagefull/12.jpg" title="James and a blonde permy">
		<img src="../static/images/vintagethumbs/12.jpg" alt="James and a blonde permy" />
	</a>
	<a href="../static/images/vintagefull/13.jpg" title="Kevin">
		<img src="../static/images/vintagethumbs/13.jpg" alt="Kevin" />
	</a>
	<a href="../static/images/vintagefull/14.jpg" title="Janelle and Brian">
		<img src="../static/images/vintagethumbs/14.jpg" alt="Janelle and Brian" />
	</a>
	<a href="../static/images/vintagefull/15.jpg" title="Brian speaks">
		<img src="../static/images/vintagethumbs/15.jpg" alt="Brian speaks" />
	</a>
	<a href="../static/images/vintagefull/16.jpg" title="Tricia, Christy, and Sherry">
		<img src="../static/images/vintagethumbs/16.jpg" alt="Tricia, Christy, and Sherry" />
	</a>
	<a href="../static/images/vintagefull/17.jpg" title="Tricia">
		<img src="../static/images/vintagethumbs/17.jpg" alt="Tricia" />
	</a>
	<a href="../static/images/vintagefull/18.jpg" title="Leoser">
		<img src="../static/images/vintagethumbs/18.jpg" alt="Leoser" />
	</a>
	<a href="../static/images/vintagefull/19.jpg" title="Student Center">
		<img src="../static/images/vintagethumbs/19.jpg" alt="Student Center" />
	</a>
	<a href="../static/images/vintagefull/20.jpg" title="Fountain">
		<img src="../static/images/vintagethumbs/20.jpg" alt="Fountain" />
	</a>
	<a href="../static/images/vintagefull/21.jpg" title="More Fountain">
		<img src="../static/images/vintagethumbs/21.jpg" alt="More Fountain" />
	</a>
	<a href="../static/images/vintagefull/100.jpg" title="John">
		<img src="../static/images/vintagethumbs/100.jpg" alt="John" />
	</a>
	<a href="../static/images/vintagefull/101.jpg" title="Michelle and Shelby">
		<img src="../static/images/vintagethumbs/101.jpg" alt="Michelle and Shelby" />
	</a>
	<a href="../static/images/vintagefull/102.jpg" title="Denelle, Shelby, Ashley, and Michelle">
		<img src="../static/images/vintagethumbs/102.jpg" alt="Denelle, Shelby, Ashley, and Michelle" />
	</a>
	<a href="../static/images/vintagefull/103.jpg" title="pissy seagulls">
		<img src="../static/images/vintagethumbs/103.jpg" alt="pissy seagulls" />
	</a>
	<a href="../static/images/vintagefull/104.jpg" title="tug o'war">
		<img src="../static/images/vintagethumbs/104.jpg" alt="tug o'war" />
	</a>
	<a href="../static/images/vintagefull/106.jpg" title="thought">
		<img src="../static/images/vintagethumbs/106.jpg" alt="thought" />
	</a>
	<a href="../static/images/vintagefull/107.jpg" title="Shelby">
		<img src="../static/images/vintagethumbs/107.jpg" alt="Shelby" />
	</a>
	<a href="../static/images/vintagefull/109.jpg" title="Craig and Lori">
		<img src="../static/images/vintagethumbs/109.jpg" alt="Craig and Lori" />
	</a>
	<a href="../static/images/vintagefull/110.jpg" title="Stan">
		<img src="../static/images/vintagethumbs/110.jpg" alt="Stan" />
	</a>
	<a href="../static/images/vintagefull/111.jpg" title="Michelle">
		<img src="../static/images/vintagethumbs/111.jpg" alt="Michelle" />
	</a>
	<a href="../static/images/vintagefull/112.jpg" title="DeAnna">
		<img src="../static/images/vintagethumbs/112.jpg" alt="DeAnna" />
	</a>
	<a href="../static/images/vintagefull/113.jpg" title="Mt Baldy">
		<img src="../static/images/vintagethumbs/113.jpg" alt="Mt Baldy" />
	</a>
	<a href="../static/images/vintagefull/114.jpg" title="proposal">
		<img src="../static/images/vintagethumbs/114.jpg" alt="proposal" />
	</a>
	<a href="../static/images/vintagefull/115.jpg" title="Jeff, Ashley, Dora, and Jeff">
		<img src="../static/images/vintagethumbs/115.jpg" alt="Jeff, Ashley, Dora, and Jeff" />
	</a>
	<a href="../static/images/vintagefull/116.jpg" title="Glorietta shopping">
		<img src="../static/images/vintagethumbs/116.jpg" alt="Glorietta shopping" />
	</a>
	<a href="../static/images/vintagefull/117.jpg" title="Glorietta flagpole">
		<img src="../static/images/vintagethumbs/117.jpg" alt="Glorietta flagpole" />
	</a>
	<a href="../static/images/vintagefull/118.jpg" title="intramurals">
		<img src="../static/images/vintagethumbs/118.jpg" alt="intramurals" />
	</a>
	<a href="../static/images/vintagefull/119.jpg" title="more intramurals">
		<img src="../static/images/vintagethumbs/119.jpg" alt="more intramurals" />
	</a>
	<a href="../static/images/vintagefull/120.jpg" title="Matt stranded">
		<img src="../static/images/vintagethumbs/120.jpg" alt="Matt stranded" />
	</a>
	<a href="../static/images/vintagefull/121.jpg" title="James and Stokely">
		<img src="../static/images/vintagethumbs/121.jpg" alt="James and Stokely" />
	</a>
	<a href="../static/images/vintagefull/122.jpg" title="James, Gina, DeAnna, Becky, Kelly, and Matt">
		<img src="../static/images/vintagethumbs/122.jpg" alt="James, Gina, DeAnna, Becky, Kelly, and Matt" />
	</a>
	<a href="../static/images/vintagefull/123.jpg" title="Rusty, Denelle, Dusty, DeAnna, Michael, Gina, Michelle, Matt, James, Kelly, and Becky">
		<img src="../static/images/vintagethumbs/123.jpg" alt="Rusy, Denelle, Dusty, DeAnna, Michael, Gina, Michelle, Matt, James, Kelly, and Becky" />
	</a>
	<a href="../static/images/vintagefull/124.jpg" title="Gina, doorman, Michelle">
		<img src="../static/images/vintagethumbs/124.jpg" alt="Gina, doorman, Michelle" />
	</a>
	<a href="../static/images/vintagefull/125.jpg" title="Gina, Dusty, and James">
		<img src="../static/images/vintagethumbs/125.jpg" alt="Gina, Dusty, and James" />
	</a>
	<a href="../static/images/vintagefull/126.jpg" title="Gina and Dusty">
		<img src="../static/images/vintagethumbs/126.jpg" alt="Gina and Dusty" />
	</a>
	<a href="../static/images/vintagefull/200.jpg" title="Erik, Michael, Caleb, Mark, and James">
		<img src="../static/images/vintagethumbs/200.jpg" alt="Erik, Michael, Caleb, Mark, and James" />
	</a>
	<a href="../static/images/vintagefull/201.jpg" title="Erik and Mark">
		<img src="../static/images/vintagethumbs/201.jpg" alt="Erik and Mark" />
	</a>
	<a href="../static/images/vintagefull/202.jpg" title="Pam and Brandon">
		<img src="../static/images/vintagethumbs/202.jpg" alt="Pam and Brandon" />
	</a>
	<a href="../static/images/vintagefull/203.jpg" title="Lisa, Pam, and Joy">
		<img src="../static/images/vintagethumbs/203.jpg" alt="Lisa, Pam, and Joy" />
	</a>
	<a href="../static/images/vintagefull/204.jpg" title="Mexico mission trip">
		<img src="../static/images/vintagethumbs/204.jpg" alt="Mexico mission trip" />
	</a>
	<a href="../static/images/vintagefull/205.jpg" title="Roland and co">
		<img src="../static/images/vintagethumbs/205.jpg" alt="Roland and co" />
	</a>
	<a href="../static/images/vintagefull/22.jpg" title="James, Janelle, Bruce, and Bryan">
		<img src="../static/images/vintagethumbs/22.jpg" alt="James, Janelle, Bruce, and Bryan" />
	</a>
	</p>
    </div>
{% endblock %}
